.film-card {
    max-width: 400px;
  }
  .film-card .mat-card-content{
    text-align: left;
  }
.mat-toolbar-row{
    height:auto;
}
.mat-form-field{line-height:1.5}
.example-spacer{flex: 1 1 auto;}
button.show-more{
  position: absolute;
  top:100%;
}
.align-center{
  text-align: center;
}
.bottom-list-panel{
 /* display: flex;
  flex-direction: column;
  justify-content: center;*/
}