 
    <mat-toolbar class="menu-toolbar">
        <mat-toolbar-row>
          <span>В избранное добавлено: {{bookmarksTotal}} элементов</span>
          <span class="example-spacer"></span>
            <div>
                <mat-form-field>
                  <mat-select placeholder="Сортировка" [(value)] = "sortingMethod" (selectionChange) = "sortItems(sortingMethod)">
                    <mat-option value="1">По алфавиту: A-Z</mat-option>
                    <mat-option value="-1">По алфавиту: Z-A </mat-option>
                  </mat-select>
                </mat-form-field>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>


    <mat-grid-list cols="3" rowHeight="1:1.9">
        <mat-grid-tile *ngFor="let film of films;">
  
        <film-item [film] = "film" (update) = "getUpdated()"></film-item>
  
        </mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
    </mat-grid-list>
  
  
  


