<label><input name="font" (change) = "radioHandler($event.target.value)" type="radio" value="small">Маленький шрифт</label><br><br>
<label><input name="font" (change) = "radioHandler($event.target.value)" type="radio" value="medium">Средний шрифт</label><br><br>
<label><input name="font" (change) = "radioHandler($event.target.value)" type="radio" value="large">Большой шрифт</label><br><br>

<select (change) = "selectHandler($event.target.value)">
  <option value="red">Красный</option>
  <option value="blue">Синий</option>
  <option value="green">Зеленый</option>
</select>
